body{
	background-color: rgb(21, 24, 31);
}

#nav
{
    display: flex;
    background-color: black;
    justify-content: space-around;

}

.accueil{
	color: rgb(5, 227, 56);
	background-color: black;
	backface-visibility: 0.6;
	/* width: 315px;
	height: 40px; */
	font-size: 30px;
	color: white;
	text-align: center;
}

.commandes{
	color: rgb(5, 227, 56);
	background-color: black;
	backface-visibility: 0.6;
	/* width: 315px;
	height: 40px; */
	font-size: 30px;
	color: white;
	text-align: center;
}

.bot{
	color: rgb(5, 227, 56);
	background-color: black;
	backface-visibility: 0.6;
	/* width: 315px;
	height: 40px; */
	font-size: 30px;
	color: white;
	text-align: center;
}

.soulignement{
	text-decoration: none;
}

.connexion{
	color: rgb(5, 227, 56);
	background-color: black;
	backface-visibility: 0.6;
	/* width: 315px;
	height: 40px; */
	font-size: 30px;
	color: white;
	text-align: center;
}

.inscription{
	color: rgb(5, 227, 56);
	background-color: black;
	backface-visibility: 0.6;
	/* width: 315px;
	height: 40px; */
	font-size: 30px;
	color: white;
	text-align: center;
}

.bienvenue{
	font-size: 50px;
	margin-left: justify;
	color: red;
	text-align: center;
}

.textebienvenue{
	border: 5px solid;
	text-align: center;
}

.footer{
	text-align: center;
	background-color: black;
	color: red;
	
}

